@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Yetki Yok";
}

<div class="d-flex flex-column align-items-center justify-content-center p-5">
    <i class="fa fa-sad-tear fa-5x text-secondary"></i>
    <h2>Hata!</h2>
    <p>
        Bu bölümü görme yetkiniz bulunmamaktadır.
    </p>
</div>