@{
    ViewData["Title"] = "E-Posta Doğrulama";
}

<div class="d-flex flex-column align-items-center justify-content-center p-5">
    <i class="fa fa-smile fa-5x text-secondary"></i>
    <h2>Hata!</h2>
    <p>
        E-Posta doğrulama işleminiz tamamlanamıyor.
    </p>
</div>