@{
    ViewData["Title"] = "Yeni Üyelik";
}

<div class="d-flex flex-column align-items-center justify-content-center p-5">
    <i class="fa fa-smile fa-5x text-secondary"></i>
    <h2>Teşekkürler</h2>
    <p>
        Üyelik işleminiz başarıyla tamamlanmıştır. E-Posta doğrulama amacıyla size bir mesaj gönderdik.
        Bu mesaj içindeki linki ziyarety ederek e-posta adresinizi doğrulayabilirsiniz.
    </p>
</div>