
@{
    var entity = "Ürün";
    ViewData["Title"] = $"{entity} Tanımları";
}
<div class="card card-default">
    <div class="card-body">
        <partial name="ViewHeaderPartial" model="entity" />

    </div>
</div>

@section Scripts {
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        $(() => {
            $('.remove-btn').on('click', (e) => {
                Swal.fire({
                    html: `${$(e.currentTarget).attr("data-name")} isimli kayıt tamamen silinecektir. Silme işlemine devam etmek istiyormusunuz?`,
                    showCancelButton: true,
                    confirmButtonText: '<i class="fa fa-trash"></i> Sil',
                    cancelButtonText: 'İptal',
                    icon: 'warning'
                })
                    .then((result) => {
                        if (result.value) {
                            location = $(e.currentTarget).attr("href");
                        }
                    });
                return false;
            });
        });
    </script>
}