@{
    Layout = "_LayoutEmpty";
    ViewData["Title"] = "Hata!";
}
<div class="d-flex flex-column h-100 align-items-center justify-content-center">
    <i class="fa fa-sad-cry fa-5x text-secondary"></i>
    <h2>Üzgünüz!</h2>
    <h4>Aradığınız sayfa bulunamıyor!</h4>
</div>
